@page "/todo"
@using blazor_app.Data
@inject TodoService service
<PageTitle>Todo list</PageTitle>

<h1>Todo List</h1>
<table class="table">
    @foreach (var item in service.FindAll())
    {
        <TodoItem
            Title="@item.Title"
            Deadline='@item.Deadline'
            IsDone="@item.IsDone"
            IsEdited="@(IsEdit && EditedId == item.Id)"
            Click="@(args => OnClick(@item.Title, @item.Id))"
            Id="@item.Id" Disabled="false">
        </TodoItem>
    }
</table>

@code{
    public bool IsEdit { get; set; } = false;
    public int EditedId { get; set; } = 0;
    public void OnClick(string title, int id)
    {
        IsEdit = !IsEdit;
        EditedId = id;
        StateHasChanged();
    }

}